@import "./shared/styles/app-color";
@import "./shared/styles/app-typo";
@import "./shared/styles/app-mixin";

.bg-banner {
    background-image: url("./../assets/images/image1.jpg");
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    &:before {
        opacity: .80;
        content: "";
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}